In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Date, Time,Text

import os
from time import time
from datetime import timedelta

In [2]:
pd.__version__

'1.5.2'

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/MVC_db')

In [7]:
engine.connect()

In [8]:
df = pd.read_sql_query('SELECT COUNT(*) FROM "MVC_C_2015" ',con=engine)

In [9]:
df

    count
0  217694

In [10]:
res = [['year', 'Crashes','Vehicles','Person']]
for i in range(2012,2024):
    try:
        temp = []
        temp.append(i)
        try:
            df = pd.read_sql_query('(SELECT COUNT(*) FROM "MVC_C_{}" )'.format(i),con=engine)
            t = int(df.get(key = 'count'))
        except:
            t = 0
        temp.append(t)
        try:
            df = pd.read_sql_query('(SELECT COUNT(*) FROM "MVC_V_{}" )'.format(i),con=engine)
            t = int(df.get(key = 'count'))
        except:
            t = 0
        temp.append(t)
        try:
            df = pd.read_sql_query('(SELECT COUNT(*) FROM "MVC_P_{}" )'.format(i),con=engine)
            t = int(df.get(key = 'count'))
        except:
            t = 0
        temp.append(t)
        res.append(temp)
    except:
        continue
print(res)

[['year', 'Crashes', 'Vehicles', 'Person'], [2012, 100545, 198968, 27671], [2013, 203734, 404685, 55583], [2014, 206033, 409061, 51853], [2015, 217694, 434582, 52171], [2016, 0, 457916, 800328], [2017, 231007, 464546, 961775], [2018, 231564, 465817, 946203], [2019, 211486, 426722, 854268], [2020, 112915, 231167, 413194], [2021, 110546, 210942, 386040], [2022, 103766, 0, 362219], [2023, 19872, 0, 69801]]

In [26]:
C,V,P =0,0,0
st = '   Downloaded data report:' + '\n'  + '\n'
for i in range(13):
    for j in range(4):
        if i == 0 or j == 0:
            h = res[i][j]
        else: 
            h = "{:,}".format(res[i][j])
        st += str(h).rjust(11)
    st += '\n'
    if i > 0:
        C += int(res[i][1])
        V += int(res[i][2])
        P += int(res[i][3])
st = st + '\n' + 'total'.rjust(11) + str("{:,}".format(C)).rjust(11) + str("{:,}".format(V)).rjust(11) + str("{:,}".format(P)).rjust(11)
print(st)

   Downloaded data report:

       year    Crashes   Vehicles     Person
       2012    100,545    198,968     27,671
       2013    203,734    404,685     55,583
       2014    206,033    409,061     51,853
       2015    217,694    434,582     52,171
       2016          0    457,916    800,328
       2017    231,007    464,546    961,775
       2018    231,564    465,817    946,203
       2019    211,486    426,722    854,268
       2020    112,915    231,167    413,194
       2021    110,546    210,942    386,040
       2022    103,766          0    362,219
       2023     19,872          0     69,801

      total  1,749,162  3,704,406  4,981,106

In [18]:
def check_downloaded_data():
    engine = create_engine('postgresql://root:root@localhost:5432/MVC_db')
    engine.connect() 
    res = [['year', 'Crashes','Vehicles','Person']]
    for i in range(2012,2024):
        temp = []
        temp.append(i)
        try:
            df = pd.read_sql_query('(SELECT COUNT(*) FROM "MVC_C_{}" )'.format(i),con=engine)
            t = int(df.get(key = 'count'))
        except:
            t = 0
        temp.append(t)
        try:
            df = pd.read_sql_query('(SELECT COUNT(*) FROM "MVC_V_{}" )'.format(i),con=engine)
            t = int(df.get(key = 'count'))
        except:
            t = 0
        temp.append(t)
        try:
            df = pd.read_sql_query('(SELECT COUNT(*) FROM "MVC_P_{}" )'.format(i),con=engine)
            t = int(df.get(key = 'count'))
        except:
            t = 0
        temp.append(t)
        res.append(temp)
    C,V,P =0,0,0
    st = ''
    for i in range(13):
        for j in range(4):
            if i == 0 or j == 0:
                h = res[i][j]
            else: 
                h = "{:,}".format(res[i][j])
            st += str(h).rjust(11)
        st += '\n'
        if i > 0:
            C += int(res[i][1])
            V += int(res[i][2])
            P += int(res[i][3])
    st = st + '\n' + 'total'.rjust(11) + str("{:,}".format(C)).rjust(11) + str("{:,}".format(V)).rjust(11) + str("{:,}".format(P)).rjust(11)
    print(st)
    
check_downloaded_data()

       year    Crashes   Vehicles     Person
       2012    100,545    198,968     27,671
       2013    203,734    404,685     55,583
       2014    206,033    409,061     51,853
       2015    217,694    434,582     52,171
       2016          0    457,916    800,328
       2017    231,007    464,546    961,775
       2018    231,564    465,817    946,203
       2019    211,486    426,722    854,268
       2020    112,915    231,167    413,194
       2021    110,546    210,942    386,040
       2022    103,766          0    362,219
       2023     19,872          0     69,801

      total  1,749,162  3,704,406  4,981,106