In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Date, Time,Text

import os
from time import time
from datetime import timedelta

In [2]:
pd.__version__

'1.5.2'

In [96]:
df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv',nrows = 1000)
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,04/14/2021,12:47,BROOKLYN,11207.0,40.676594,-73.890380,"(40.676594, -73.89038)",HENDRIX STREET,ATLANTIC AVENUE,NaN,...,NaN,NaN,NaN,NaN,4407740,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
996,04/16/2021,14:30,NaN,NaN,40.764680,-73.964300,"(40.76468, -73.9643)",EAST 64 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,4408392,Sedan,NaN,NaN,NaN,NaN
997,04/15/2021,0:00,MANHATTAN,10032.0,40.832764,-73.945830,"(40.832764, -73.94583)",WEST 155 STREET,BROADWAY,NaN,...,Unspecified,NaN,NaN,NaN,4407822,Sedan,NaN,NaN,NaN,NaN
998,04/14/2021,6:55,NaN,NaN,40.698544,-73.962360,"(40.698544, -73.96236)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4407655,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
999,04/14/2021,19:00,QUEENS,11372.0,40.747536,-73.893440,"(40.747536, -73.89344)",NaN,NaN,72-24 BROADWAY,...,NaN,NaN,NaN,NaN,4407712,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [97]:
print(pd.io.sql.get_schema(df,name = 'Motor_Vehicle_Collisions_-_Crashes.csv'))

CREATE TABLE "Motor_Vehicle_Collisions_-_Crashes.csv" (
"CRASH DATE" TEXT,
  "CRASH TIME" TEXT,
  "BOROUGH" TEXT,
  "ZIP CODE" REAL,
  "LATITUDE" REAL,
  "LONGITUDE" REAL,
  "LOCATION" TEXT,
  "ON STREET NAME" TEXT,
  "CROSS STREET NAME" TEXT,
  "OFF STREET NAME" TEXT,
  "NUMBER OF PERSONS INJURED" INTEGER,
  "NUMBER OF PERSONS KILLED" INTEGER,
  "NUMBER OF PEDESTRIANS INJURED" INTEGER,
  "NUMBER OF PEDESTRIANS KILLED" INTEGER,
  "NUMBER OF CYCLIST INJURED" INTEGER,
  "NUMBER OF CYCLIST KILLED" INTEGER,
  "NUMBER OF MOTORIST INJURED" INTEGER,
  "NUMBER OF MOTORIST KILLED" INTEGER,
  "CONTRIBUTING FACTOR VEHICLE 1" TEXT,
  "CONTRIBUTING FACTOR VEHICLE 2" TEXT,
  "CONTRIBUTING FACTOR VEHICLE 3" TEXT,
  "CONTRIBUTING FACTOR VEHICLE 4" TEXT,
  "CONTRIBUTING FACTOR VEHICLE 5" TEXT,
  "COLLISION_ID" INTEGER,
  "VEHICLE TYPE CODE 1" TEXT,
  "VEHICLE TYPE CODE 2" TEXT,
  "VEHICLE TYPE CODE 3" TEXT,
  "VEHICLE TYPE CODE 4" TEXT,
  "VEHICLE TYPE CODE 5" TEXT
)

In [98]:
sel_crashes = [
    "COLLISION_ID",
    "CRASH DATE",
    "CRASH TIME",
    "BOROUGH",
    "NUMBER OF PERSONS INJURED" ,
    "NUMBER OF PERSONS KILLED" ,
    "VEHICLE TYPE CODE 1",
    "CONTRIBUTING FACTOR VEHICLE 1",
    "VEHICLE TYPE CODE 2",
    "CONTRIBUTING FACTOR VEHICLE 2",
    "VEHICLE TYPE CODE 3",
    "CONTRIBUTING FACTOR VEHICLE 3",
    "VEHICLE TYPE CODE 4",
    "CONTRIBUTING FACTOR VEHICLE 4" 
]
df = df[sel_crashes]
sel_crashes_rename = {
    "COLLISION_ID" : "collision_id",
    "CRASH DATE" : "crash_date",
    "CRASH TIME" : "crash_time",
    "BOROUGH" : "borough",
    "NUMBER OF PERSONS INJURED" : "injured" ,
    "NUMBER OF PERSONS KILLED" : "killed" ,
    "CONTRIBUTING FACTOR VEHICLE 1" : "contr_f_vhc_1",
    "CONTRIBUTING FACTOR VEHICLE 2" : "contr_f_vhc_2",
    "CONTRIBUTING FACTOR VEHICLE 3" : "contr_f_vhc_3",
    "CONTRIBUTING FACTOR VEHICLE 4" : "contr_f_vhc_4",
    "VEHICLE TYPE CODE 1" : "vhc_1_code",
    "VEHICLE TYPE CODE 2" : "vhc_2_code",
    "VEHICLE TYPE CODE 3" : "vhc_3_code",
    "VEHICLE TYPE CODE 4" : "vhc_4_code"
}
        
df.rename(columns=sel_crashes_rename,inplace=True)

/tmp/ipykernel_382/1586758439.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=sel_crashes_rename,inplace=True)

In [100]:
df.crash_date = pd.to_datetime(df.crash_date).dt.date
df.crash_time = pd.to_datetime(df.crash_time,format= '%H:%M' ).dt.time

/tmp/ipykernel_382/3479585951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.crash_date = pd.to_datetime(df.crash_date).dt.date
/tmp/ipykernel_382/3479585951.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.crash_time = pd.to_datetime(df.crash_time,format= '%H:%M' ).dt.time

In [136]:
print(pd.io.sql.get_schema(df,name = 'MVC_C'))

CREATE TABLE "MVC_C" (
"collision_id" INTEGER,
  "crash_date" DATE,
  "crash_time" TIME,
  "borough" TEXT,
  "injured" INTEGER,
  "killed" INTEGER,
  "vhc_1_code" TEXT,
  "contr_f_vhc_1" TEXT,
  "vhc_2_code" TEXT,
  "contr_f_vhc_2" TEXT,
  "vhc_3_code" TEXT,
  "contr_f_vhc_3" TEXT,
  "vhc_4_code" TEXT,
  "contr_f_vhc_4" TEXT
)

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [189]:
sel_crashes_types = {
    "collision_id" : Integer(),
    "crash_date" : Date(),
    "crash_time" : Time(),
    "borough" : Text(),
    "injured" : Integer(),
    "killed" : Integer(),
    "vhc_1_code" : Text(),
    "contr_f_vhc_1" : Text(),
    "vhc_2_code" : Text(),
    "contr_f_vhc_2" : Text(),
    "vhc_3_code" : Text(),
    "contr_f_vhc_3" : Text(),
    "vhc_4_code" : Text(),
    "contr_f_vhc_4" : Text() 
}
ar = [2020,2021]
for i in ar:
    df.head(n=0).to_sql(name = f"MVC_C_{i}",con = engine, dtype=sel_crashes_types,if_exists = 'replace')

In [171]:
ar = [2020,2021]
total_rows=0
total_rows_loaded = 0
total_time = 0
df_iter = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv',iterator = True, chunksize = 10000)
while len(df) > 0:
    start_time = time()

    df = next(df_iter)
    
    sel_crashes = [
    "COLLISION_ID",
    "CRASH DATE",
    "CRASH TIME",
    "BOROUGH",
    "NUMBER OF PERSONS INJURED" ,
    "NUMBER OF PERSONS KILLED" ,
    "VEHICLE TYPE CODE 1",
    "CONTRIBUTING FACTOR VEHICLE 1",
    "VEHICLE TYPE CODE 2",
    "CONTRIBUTING FACTOR VEHICLE 2",
    "VEHICLE TYPE CODE 3",
    "CONTRIBUTING FACTOR VEHICLE 3",
    "VEHICLE TYPE CODE 4",
    "CONTRIBUTING FACTOR VEHICLE 4" 
]
    df = df[sel_crashes]
    sel_crashes_rename = {
    "COLLISION_ID" : "collision_id",
    "CRASH DATE" : "crash_date",
    "CRASH TIME" : "crash_time",
    "BOROUGH" : "borough",
    "NUMBER OF PERSONS INJURED" : "injured" ,
    "NUMBER OF PERSONS KILLED" : "killed" ,
    "CONTRIBUTING FACTOR VEHICLE 1" : "contr_f_vhc_1",
    "CONTRIBUTING FACTOR VEHICLE 2" : "contr_f_vhc_2",
    "CONTRIBUTING FACTOR VEHICLE 3" : "contr_f_vhc_3",
    "CONTRIBUTING FACTOR VEHICLE 4" : "contr_f_vhc_4",
    "VEHICLE TYPE CODE 1" : "vhc_1_code",
    "VEHICLE TYPE CODE 2" : "vhc_2_code",
    "VEHICLE TYPE CODE 3" : "vhc_3_code",
    "VEHICLE TYPE CODE 4" : "vhc_4_code"
}
        
    df.rename(columns=sel_crashes_rename,inplace=True)
    
    df.crash_date = pd.to_datetime(df.crash_date).dt.date
    df.crash_time = pd.to_datetime(df.crash_time,format= '%H:%M' ).dt.time
    
    total_rows += len(df)
    
    
    for i in ar:
        df_temp = df.loc[pd.DatetimeIndex(df.crash_date).year == i]
        df_temp.to_sql(name = f"MVC_C_{i}",con = engine, if_exists = 'append')
        
        total_rows_loaded += len(df_temp)
    
   
    end_time = time()
    total_time += (end_time - start_time)
    print(f"total rows processed = {total_rows}")   
    print(f"total rows loaded = {total_rows_loaded}")
    print('iteration took %.2f seconds' % (end_time - start_time))
    print(f"total time = %.2f seconds" % (total_time))
    print()

total rows processed = 10000
total rows loaded = 9270
iteration took 2.33 seconds
total time = 2.33 seconds

total rows processed = 20000
total rows loaded = 18083
iteration took 1.92 seconds
total time = 4.25 seconds

total rows processed = 30000
total rows loaded = 27145
iteration took 1.78 seconds
total time = 6.03 seconds

total rows processed = 40000
total rows loaded = 35387
iteration took 1.42 seconds
total time = 7.45 seconds

total rows processed = 50000
total rows loaded = 41605
iteration took 1.35 seconds
total time = 8.80 seconds

total rows processed = 60000
total rows loaded = 48746
iteration took 1.34 seconds
total time = 10.14 seconds

total rows processed = 70000
total rows loaded = 56142
iteration took 1.40 seconds
total time = 11.54 seconds

total rows processed = 80000
total rows loaded = 65087
iteration took 2.28 seconds
total time = 13.81 seconds

total rows processed = 90000
total rows loaded = 73028
iteration took 1.77 seconds
total time = 15.59 seconds

total rows processed = 100000
total rows loaded = 78781
iteration took 1.28 seconds
total time = 16.87 seconds

total rows processed = 110000
total rows loaded = 84230
iteration took 1.22 seconds
total time = 18.10 seconds

total rows processed = 120000
total rows loaded = 84548
iteration took 0.47 seconds
total time = 18.57 seconds

total rows processed = 130000
total rows loaded = 84600
iteration took 0.29 seconds
total time = 18.86 seconds

total rows processed = 140000
total rows loaded = 84609
iteration took 0.32 seconds
total time = 19.18 seconds

total rows processed = 150000
total rows loaded = 84616
iteration took 0.45 seconds
total time = 19.63 seconds

KeyboardInterrupt:

In [21]:
df = pd.read_csv('Motor_Vehicle_Collisions_-_Vehicles.csv',nrows = 1000)
df

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140702,4213082,09/23/2019,8:15,0553ab4d-9500-4cba-8d98-f4d7f89d5856,NY,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,NaN,2002.0,...,Going Straight Ahead,Left Front Bumper,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,19140351,4229134,10/24/2019,18:26,9a4baff5-a14f-4d3a-a455-7d3c46f63503,PA,Motorcycle,SUZI -MCL,NaN,2017.0,...,Going Straight Ahead,Center Front End,Right Rear Quarter Panel,Left Side Doors,Left Front Quarter Panel,NaN,N,NaN,Unspecified,Unspecified
996,17212623,3524493,09/19/2016,12:45,814770,VA,Sedan,HOND -CAR/SUV,NaN,2001.0,...,Going Straight Ahead,Center Front End,Center Front End,NaN,NaN,NaN,N,NaN,Reaction to Uninvolved Vehicle,Unspecified
997,16944172,3422686,03/22/2016,8:15,32866,NY,4 dr sedan,DODG -CAR/SUV,NaN,2007.0,...,Going Straight Ahead,Right Rear Quarter Panel,Right Rear Quarter Panel,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified
998,15002444,3365317,01/04/2016,10:40,1,NY,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
999,19139677,4228969,10/24/2019,9:27,ce9a7e5e-4e11-4a5d-b7e1-5181baffd29e,NY,Sedan,MERZ -CAR/SUV,NaN,2015.0,...,Avoiding Object in Roadway,Right Front Bumper,Right Front Bumper,Right Front Quarter Panel,NaN,NaN,N,NaN,Outside Car Distraction,Unspecified

In [7]:
print(pd.io.sql.get_schema(df,name = 'Motor_Vehicle_Collisions_-_Vehicles.csv'))

CREATE TABLE "Motor_Vehicle_Collisions_-_Vehicles.csv" (
"UNIQUE_ID" INTEGER,
  "COLLISION_ID" INTEGER,
  "CRASH_DATE" TEXT,
  "CRASH_TIME" TEXT,
  "VEHICLE_ID" TEXT,
  "STATE_REGISTRATION" TEXT,
  "VEHICLE_TYPE" TEXT,
  "VEHICLE_MAKE" TEXT,
  "VEHICLE_MODEL" TEXT,
  "VEHICLE_YEAR" REAL,
  "TRAVEL_DIRECTION" TEXT,
  "VEHICLE_OCCUPANTS" REAL,
  "DRIVER_SEX" TEXT,
  "DRIVER_LICENSE_STATUS" TEXT,
  "DRIVER_LICENSE_JURISDICTION" TEXT,
  "PRE_CRASH" TEXT,
  "POINT_OF_IMPACT" TEXT,
  "VEHICLE_DAMAGE" TEXT,
  "VEHICLE_DAMAGE_1" TEXT,
  "VEHICLE_DAMAGE_2" TEXT,
  "VEHICLE_DAMAGE_3" TEXT,
  "PUBLIC_PROPERTY_DAMAGE" TEXT,
  "PUBLIC_PROPERTY_DAMAGE_TYPE" TEXT,
  "CONTRIBUTING_FACTOR_1" TEXT,
  "CONTRIBUTING_FACTOR_2" TEXT
)

In [23]:
sel_vh = [
  "UNIQUE_ID" ,
  "COLLISION_ID" ,
  "CRASH_DATE" ,
  "CRASH_TIME" ,
  "VEHICLE_TYPE", 
  "VEHICLE_DAMAGE" ,
  "DRIVER_SEX" ,
  "DRIVER_LICENSE_STATUS" ,
  "VEHICLE_YEAR" ,
  "VEHICLE_OCCUPANTS" ,  
  "STATE_REGISTRATION" , 
  "CONTRIBUTING_FACTOR_1"
]
df = df[sel_vh]

In [24]:
df

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_TYPE,VEHICLE_DAMAGE,DRIVER_SEX,DRIVER_LICENSE_STATUS,VEHICLE_YEAR,VEHICLE_OCCUPANTS,STATE_REGISTRATION,CONTRIBUTING_FACTOR_1
0,10385780,100201,09/07/2012,9:03,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NY,Unspecified
1,19140702,4213082,09/23/2019,8:15,Station Wagon/Sport Utility Vehicle,Left Front Quarter Panel,M,Licensed,2002.0,1.0,NY,Driver Inattention/Distraction
2,14887647,3307608,10/02/2015,17:18,TAXI,NaN,NaN,NaN,NaN,NaN,NY,Driver Inattention/Distraction
3,14889754,3308693,10/04/2015,20:34,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NY,Unspecified
4,14400270,297666,04/25/2013,21:15,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NY,Other Vehicular
...,...,...,...,...,...,...,...,...,...,...,...,...
995,19140351,4229134,10/24/2019,18:26,Motorcycle,Right Rear Quarter Panel,M,Licensed,2017.0,1.0,PA,Unspecified
996,17212623,3524493,09/19/2016,12:45,Sedan,Center Front End,M,Licensed,2001.0,1.0,VA,Reaction to Uninvolved Vehicle
997,16944172,3422686,03/22/2016,8:15,4 dr sedan,Right Rear Quarter Panel,F,NaN,2007.0,2.0,NY,Unspecified
998,15002444,3365317,01/04/2016,10:40,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,NY,Unspecified
999,19139677,4228969,10/24/2019,9:27,Sedan,Right Front Bumper,F,Licensed,2015.0,1.0,NY,Outside Car Distraction

In [25]:
sel_vh_rename = {
  "UNIQUE_ID" : "unique_id",
  "COLLISION_ID" : "collision_id",
  "CRASH_DATE" : "crash_date",
  "CRASH_TIME" : "crash_time",
  "STATE_REGISTRATION" : "state_reg",
  "VEHICLE_TYPE" : "vhc_type",
  "VEHICLE_YEAR" : "vhc_year",
  "VEHICLE_OCCUPANTS" : "vhc_occupants",
  "DRIVER_SEX" : "dr_sex",
  "DRIVER_LICENSE_STATUS" : "dr_lic_status",
  "VEHICLE_DAMAGE" : "vhc_dmg",
  "CONTRIBUTING_FACTOR_1" : "contr_f"
}
        
df.rename(columns=sel_vh_rename,inplace=True)

In [26]:
df

,unique_id,collision_id,crash_date,crash_time,vhc_type,vhc_dmg,dr_sex,dr_lic_status,vhc_year,vhc_occupants,state_reg,contr_f
0,10385780,100201,09/07/2012,9:03,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NY,Unspecified
1,19140702,4213082,09/23/2019,8:15,Station Wagon/Sport Utility Vehicle,Left Front Quarter Panel,M,Licensed,2002.0,1.0,NY,Driver Inattention/Distraction
2,14887647,3307608,10/02/2015,17:18,TAXI,NaN,NaN,NaN,NaN,NaN,NY,Driver Inattention/Distraction
3,14889754,3308693,10/04/2015,20:34,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NY,Unspecified
4,14400270,297666,04/25/2013,21:15,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NY,Other Vehicular
...,...,...,...,...,...,...,...,...,...,...,...,...
995,19140351,4229134,10/24/2019,18:26,Motorcycle,Right Rear Quarter Panel,M,Licensed,2017.0,1.0,PA,Unspecified
996,17212623,3524493,09/19/2016,12:45,Sedan,Center Front End,M,Licensed,2001.0,1.0,VA,Reaction to Uninvolved Vehicle
997,16944172,3422686,03/22/2016,8:15,4 dr sedan,Right Rear Quarter Panel,F,NaN,2007.0,2.0,NY,Unspecified
998,15002444,3365317,01/04/2016,10:40,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,NY,Unspecified
999,19139677,4228969,10/24/2019,9:27,Sedan,Right Front Bumper,F,Licensed,2015.0,1.0,NY,Outside Car Distraction

In [29]:
print(pd.io.sql.get_schema(df,name = 'MVC_V'))

CREATE TABLE "MVC_V" (
"unique_id" INTEGER,
  "collision_id" INTEGER,
  "crash_date" DATE,
  "crash_time" TIME,
  "vhc_type" TEXT,
  "vhc_dmg" TEXT,
  "dr_sex" TEXT,
  "dr_lic_status" TEXT,
  "vhc_year" REAL,
  "vhc_occupants" REAL,
  "state_reg" TEXT,
  "contr_f" TEXT
)

In [28]:
df.crash_date = pd.to_datetime(df.crash_date).dt.date
df.crash_time = pd.to_datetime(df.crash_time,format= '%H:%M' ).dt.time

In [30]:
sel_VHC_types = {
  "unique_id" : Integer(),
  "collision_id" : Integer(),
  "crash_date" : Date(),
  "crash_time" : Time(),
  "vhc_type" : Text(),
  "vhc_dmg" : Text(),
  "dr_sex" : Text(),
  "dr_lic_status" : Text(),
  "vhc_year"  : Integer(),
  "vhc_occupants"  : Integer(),
  "state_reg" : Text(),
  "contr_f" : Text()
}

In [32]:
df = pd.read_csv('Motor_Vehicle_Collisions_-_Person.csv',nrows = 1000)
df

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
1,10255054,4230587,10/25/2019,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075.0,33.0,Not Ejected,...,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
2,10253177,4230550,10/26/2019,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329.0,7.0,Not Ejected,...,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10250224,4230220,10/26/2019,15:28,3d2c3aa2-49a6-4097-90d6-0b49495bb46b,Occupant,Injured,19141648.0,10.0,Not Ejected,...,Face,Right rear passenger or motorcycle sidecar pas...,Lap Belt & Harness,NaN,NaN,Complaint of Pain or Nausea,Passenger,NaN,NaN,F
996,10250430,4230166,10/26/2019,20:30,8ba0ac10-8c4c-423c-ae75-635e94fde09c,Occupant,Unspecified,19141750.0,19.0,Not Ejected,...,Does Not Apply,Driver,Unknown,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
997,10253910,4231002,10/24/2019,12:35,af3048fc-1a60-4064-9ecb-06427fd3acd6,Occupant,Unspecified,19143495.0,64.0,Not Ejected,...,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
998,10248402,4229633,10/26/2019,12:30,216dd498-bce9-4540-bd6a-9bd9ab4566de,Occupant,Unspecified,19140811.0,60.0,Not Ejected,...,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
999,10250616,4230210,10/26/2019,22:02,92be1d6a-25d7-4f79-8ca3-2f34d1f39c1a,Occupant,Unspecified,19141845.0,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,F

In [33]:
print(pd.io.sql.get_schema(df,name = 'Motor_Vehicle_Collisions_-_Person.csv'))

CREATE TABLE "Motor_Vehicle_Collisions_-_Person.csv" (
"UNIQUE_ID" INTEGER,
  "COLLISION_ID" INTEGER,
  "CRASH_DATE" TEXT,
  "CRASH_TIME" TEXT,
  "PERSON_ID" TEXT,
  "PERSON_TYPE" TEXT,
  "PERSON_INJURY" TEXT,
  "VEHICLE_ID" REAL,
  "PERSON_AGE" REAL,
  "EJECTION" TEXT,
  "EMOTIONAL_STATUS" TEXT,
  "BODILY_INJURY" TEXT,
  "POSITION_IN_VEHICLE" TEXT,
  "SAFETY_EQUIPMENT" TEXT,
  "PED_LOCATION" TEXT,
  "PED_ACTION" TEXT,
  "COMPLAINT" TEXT,
  "PED_ROLE" TEXT,
  "CONTRIBUTING_FACTOR_1" TEXT,
  "CONTRIBUTING_FACTOR_2" TEXT,
  "PERSON_SEX" TEXT
)

In [37]:
sel_P = [
  "UNIQUE_ID" ,
  "COLLISION_ID",
  "CRASH_DATE" ,
  "CRASH_TIME" ,
  "EJECTION" ,
  "BODILY_INJURY" ,
  "PERSON_INJURY" ,
  "POSITION_IN_VEHICLE" ,
  "SAFETY_EQUIPMENT" ,
  "PERSON_TYPE" ,
  "PERSON_AGE" ,
  "PERSON_SEX",
  "EMOTIONAL_STATUS" ,
  "CONTRIBUTING_FACTOR_1" 
   
]
df = df[sel_P]

In [38]:
df

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,EJECTION,BODILY_INJURY,PERSON_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PERSON_TYPE,PERSON_AGE,PERSON_SEX,EMOTIONAL_STATUS,CONTRIBUTING_FACTOR_1
0,10249006,4229554,10/26/2019,9:43,NaN,NaN,Unspecified,NaN,NaN,Occupant,NaN,U,NaN,NaN
1,10255054,4230587,10/25/2019,15:15,Not Ejected,Does Not Apply,Unspecified,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Occupant,33.0,F,Does Not Apply,NaN
2,10253177,4230550,10/26/2019,17:55,NaN,NaN,Unspecified,NaN,NaN,Occupant,55.0,M,NaN,NaN
3,6650180,3565527,11/21/2016,13:05,NaN,NaN,Unspecified,NaN,NaN,Occupant,NaN,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,Not Ejected,Does Not Apply,Unspecified,Right rear passenger or motorcycle sidecar pas...,Lap Belt,Occupant,7.0,F,Does Not Apply,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10250224,4230220,10/26/2019,15:28,Not Ejected,Face,Injured,Right rear passenger or motorcycle sidecar pas...,Lap Belt & Harness,Occupant,10.0,F,Conscious,NaN
996,10250430,4230166,10/26/2019,20:30,Not Ejected,Does Not Apply,Unspecified,Driver,Unknown,Occupant,19.0,M,Does Not Apply,NaN
997,10253910,4231002,10/24/2019,12:35,Not Ejected,Does Not Apply,Unspecified,Driver,Lap Belt & Harness,Occupant,64.0,M,Does Not Apply,NaN
998,10248402,4229633,10/26/2019,12:30,Not Ejected,Does Not Apply,Unspecified,Driver,Lap Belt & Harness,Occupant,60.0,M,Does Not Apply,NaN
999,10250616,4230210,10/26/2019,22:02,NaN,NaN,Unspecified,NaN,NaN,Occupant,34.0,F,NaN,NaN

In [39]:
sel_p_rename = {
 "UNIQUE_ID" : "unique_id",
  "COLLISION_ID" : "collision_id",
  "CRASH_DATE" : "crash_date",
  "CRASH_TIME" : "crash_time",
  "EJECTION" : "ejection",
  "BODILY_INJURY" : "body_inj",
  "PERSON_INJURY" : "person_inj",
  "POSITION_IN_VEHICLE" : "pos_in_vhc",
  "SAFETY_EQUIPMENT" : "safety_equip",
  "PERSON_TYPE" : "person_type",
  "PERSON_AGE" : "age",
  "PERSON_SEX" : "sex",
  "EMOTIONAL_STATUS" : "emot_status",
  "CONTRIBUTING_FACTOR_1" : "contr_f"
}
  

        
df.rename(columns=sel_p_rename,inplace=True)

In [40]:
df

,unique_id,collision_id,crash_date,crash_time,ejection,body_inj,person_inj,pos_in_vhc,safety_equip,person_type,age,sex,emot_status,contr_f
0,10249006,4229554,10/26/2019,9:43,NaN,NaN,Unspecified,NaN,NaN,Occupant,NaN,U,NaN,NaN
1,10255054,4230587,10/25/2019,15:15,Not Ejected,Does Not Apply,Unspecified,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Occupant,33.0,F,Does Not Apply,NaN
2,10253177,4230550,10/26/2019,17:55,NaN,NaN,Unspecified,NaN,NaN,Occupant,55.0,M,NaN,NaN
3,6650180,3565527,11/21/2016,13:05,NaN,NaN,Unspecified,NaN,NaN,Occupant,NaN,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,Not Ejected,Does Not Apply,Unspecified,Right rear passenger or motorcycle sidecar pas...,Lap Belt,Occupant,7.0,F,Does Not Apply,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10250224,4230220,10/26/2019,15:28,Not Ejected,Face,Injured,Right rear passenger or motorcycle sidecar pas...,Lap Belt & Harness,Occupant,10.0,F,Conscious,NaN
996,10250430,4230166,10/26/2019,20:30,Not Ejected,Does Not Apply,Unspecified,Driver,Unknown,Occupant,19.0,M,Does Not Apply,NaN
997,10253910,4231002,10/24/2019,12:35,Not Ejected,Does Not Apply,Unspecified,Driver,Lap Belt & Harness,Occupant,64.0,M,Does Not Apply,NaN
998,10248402,4229633,10/26/2019,12:30,Not Ejected,Does Not Apply,Unspecified,Driver,Lap Belt & Harness,Occupant,60.0,M,Does Not Apply,NaN
999,10250616,4230210,10/26/2019,22:02,NaN,NaN,Unspecified,NaN,NaN,Occupant,34.0,F,NaN,NaN

In [41]:
df.crash_date = pd.to_datetime(df.crash_date).dt.date
df.crash_time = pd.to_datetime(df.crash_time,format= '%H:%M' ).dt.time

In [42]:
print(pd.io.sql.get_schema(df,name = 'MVC_P'))

CREATE TABLE "MVC_P" (
"unique_id" INTEGER,
  "collision_id" INTEGER,
  "crash_date" DATE,
  "crash_time" TIME,
  "ejection" TEXT,
  "body_inj" TEXT,
  "person_inj" TEXT,
  "pos_in_vhc" TEXT,
  "safety_equip" TEXT,
  "person_type" TEXT,
  "age" REAL,
  "sex" TEXT,
  "emot_status" TEXT,
  "contr_f" TEXT
)

In [ ]:
sel_P_types = {
  "unique_id" : Integer(),
  "collision_id" : Integer(),
  "crash_date" : Date(),
  "crash_time" : Time(),
  "ejection" : Text(),
  "body_inj" : Text(),
  "person_inj" : Text(),
  "pos_in_vhc" : Text(),
  "safety_equip" : Text(),
  "person_type" : Text(),
  "age" : Integer(),
  "sex" : Text(),
  "emot_status" : Text(),
  "contr_f" : Text()
}